<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="sapi-customer-email-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" readTimeout="${http.timeout}"/>
    </http:listener-config>
    <apikit:config name="sapi-customer-email-config" api="resource::ff8fb8fa-e663-41cf-91f1-84832f83d698:sapi-customer-email:1.0.0:raml:zip:sapi-customer-email.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
	<configuration-properties doc:name="Configuration properties" doc:id="93444c96-a8f7-4740-b146-4cdadadf0499" file="properties/${mule.env}.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="396c8731-64aa-4fe1-a21a-a20f0959a066" file="properties/${mule.env}-secure.yaml" key="${mule.encryption.key}" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="497a55e3-724f-46b3-911d-889b78a4343e" >
        <email:smtp-connection host="${email.smtp.host}" port="${email.smtp.port}" user="${secure::email.smtp.user}" password="${email.smtp.password}">
			<email:properties >
				<email:property key="mail.smtp.starttls.required" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
</mule>
